@inherits LayoutComponentBase

@* Head Section *@
<HeadContent>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royal Homes - Login</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
</HeadContent>

<main>
    <header class="topbar">
        <div class="container">
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-dark top-navbar">
                    <a class="navbar-brand" href="/">
                        <span class="logo-text">Royal Homes</span>
                    </a>

                    <div class="navbar-collapse">
                        <ul class="navbar-nav ms-auto primary-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="filter">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Se alle boliger
                                </a>
                            </li>
                            <AuthorizeView>
                                <Authorized>
                                    <li class="nav-item">
                                        <a class="nav-link" href="create">
                                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sælg bolig
                                        </a>
                                    </li>
                                </Authorized>

                                <NotAuthorized>
                                    <li class="nav-item">
                                        <a class="nav-link" href="login">
                                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sælg bolig
                                        </a>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>


                            <li class="nav-item">
                                <a class="nav-link" href="contact">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kontakt os
                                </a>
                            </li>
                        </ul>

                        <!-- LOGIN -->
                        <AuthorizeView>
                            <Authorized>
                                <a href="logout" class="btn btn-warning py-2 px-4 d-lg-block d-none">Log ud</a>
                            </Authorized>

                            <NotAuthorized>
                                <a href="login" class="btn btn-warning py-2 px-4 d-lg-block d-none">Log ind</a>
                            </NotAuthorized>
                        </AuthorizeView>

                    </div>
                </nav>
            </div>
        </div>
    </header>

    <article class="content px-4">
        @Body
    </article>
</main>

<footer id="footer" class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-about">
                    <h3 class="font-18 text-white">Om hjemmesiden</h3>
                    <h3 class="font-18 text-white">Find dit drømmehjem med os – Din pålidelige ejendomspartner</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-md-0">
                <h3 class="font-18 text-white">Kontakt os</h3>
                <p class="mt-4 pt-2 pe-5 d-flex mb-3"><i class="fas fa-map-marker-alt mt-1 font-22 me-3"></i> H.C. Andersens Vej 9, 8800 </p>
                <p class="pe-5 d-flex mb-3"><i class="fab fa-whatsapp mt-1 font-22 me-3"></i>+45 8950 3300</p>
                <p class="pe-5 d-flex mb-3"><i class="fas fa-phone-alt mt-1 font-22 me-3"></i>+45 8950 3300</p>
                <p class="pe-5 d-flex mb-3"><i class="fas fa-envelope mt-1 font-22 me-3"></i>mercantec@mercantec.dk</p>
            </div>
            <div class="col-md-12 col-lg-4 mt-4 mt-lg-0">
                <ul class="list-unstyled list-inline footer-social-link mt-4 pt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f font-22"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram font-22"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.snapchat.com" target="_blank"><i class="fab fa-snapchat font-22"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube font-22"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row">
            <div class="col-md-4 col-lg-6">
                <p>© 2024. Alle rettigheder forbeholdes.</p>
            </div>
        </div>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
