@inherits LayoutComponentBase

@* Head Section *@
<HeadContent>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royal Homes - Login</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
</HeadContent>

<main>
    <header class="topbar">
        <div class="container">
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-dark top-navbar">
                    <a class="navbar-brand" href="/">
                        <span class="logo-text">Royal Homes</span> 
                    </a>

                    <div class="navbar-collapse">
                        <ul class="navbar-nav ms-auto primary-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Se alle boliger
                                </a>
                            </li>
                            <AuthorizeView>
                                <Authorized>
                                    <li class="nav-item">
                                        <a class="nav-link" href="create">
                                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sælg bolig
                                        </a>
                                    </li>
                                </Authorized>

                                <NotAuthorized>
                                    <li class="nav-item">
                                        <a class="nav-link" href="login">
                                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sælg bolig
                                        </a>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                           

                            <li class="nav-item">
                                <a class="nav-link" href="contact">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kontakt os
                                </a>
                            </li>
                        </ul>

                        <!-- LOGIN -->
                        <AuthorizeView>
                            <Authorized>
                                <a href="logout" class="btn btn-warning py-2 px-4 d-lg-block d-none">Log ud</a>
                            </Authorized>

                            <NotAuthorized>
                                <a href="login" class="btn btn-warning py-2 px-4 d-lg-block d-none">Log ind</a>
                            </NotAuthorized>
                        </AuthorizeView>

                    </div>
                </nav>
            </div>
        </div>
    </header>

    <article class="content px-4">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
